.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal button {
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 85%;
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  text-align: center;
}
.modal > section > .header {
  position: relative;
  font-size: 3.5rem;
  color: #555;
}
.modal > section > .header button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal > section > .header h1 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #000;
  font-weight: 500;
}
.modal > section > .header p {
  font-size: 0.8rem;
  color: #999;
  word-break: keep-all;
  font-weight: 400;
  line-height: 1.7;
}
.modal > section > .btn button {
  width: 100%;
  font-size: 0.8rem;
  border-radius: 0.4rem;
}
.modal > section > .btn button:first-child {
  height: 46px;
  margin-top: 25px;
  background-color: #262439;
  color: #f55c34;
  font-weight: 700;
}
.modal > section > .btn button:nth-child(2) {
  margin-top: 13px;
  height: 42px;
  background-color: transparent;
  font-weight: 700;
  border: 1px solid #f55c34;
  color: #f55c34;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
.modal svg text {
  font-size: 5px;
  fill: #fff;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
