.user_form {
  text-align: center;
}
.user_form > header {
  position: relative;
  height: 30vh;
}
.user_form > header:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  width: 130%;
  height: 160%;
  background-color: #526fe4;
  border-radius: 100%;
}
.user_form > header div {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-top: 13vh;
  line-height: 90px;
  border-radius: 100%;
  background-color: #fff;
  font-size: 3.5rem;
}
.user_form > form {
  padding: 0 20px;
  margin: 10vh 0 5vh;
}
.user_form > form h1 {
  font-size: 1.6rem;
}
.user_form > form p {
  margin: 6px 0 40px;
  font-size: 1rem;
}
.user_form > form input {
  width: 100%;
  height: 52px;
  padding: 0 15px;
  border-radius: 0.4rem;
  border: 1px solid rgba(248, 126, 80, 0.5);
  transition: border 0.2s ease;
  font-size: 0.9rem;
}
.user_form > form input:focus {
  border-color: #f87e50;
}
.user_form > button,
.user_form > .cancel_btn {
  width: calc(100% - 40px);
  height: 50px;
  font-size: 0.8rem;
  border-radius: 2rem;
}
.user_form > button:first-of-type {
  background-color: #f87e50;
  color: #fff;
  border: 0;
}
.user_form > .cancel_btn {
  display: inline-block;
  line-height: 50px;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #f87e50;
  color: #f87e50;
}
